body
	
	// box style	
	formulaAdvise(bkg, brdr)
		padding: 3px;
		border: 1px solid brdr
		background-color bkg 
		color:white;
		font-size: 11px;
	
	// formula image style
	responseAdvise(brdr)
		&:hover
			cursor pointer
		&:active
			border 1px solid brdr


	//////// wikipedia
		
	wikibg = #a7d7f9
	wikibdr = #3C90D3
	
	[class="wikipedia-latex-copy-btn"],[class="wikipedia-latex-copy-response"]
		formulaAdvise(wikibg, wikibdr)
			
	[class*="mwe-math"]
		responseAdvise(wikibdr)
		

	//////// wolfram
		
	wolframbg = #009999
	wolframbdr = #146A68
	
	[class="wolfram-latex-copy-btn"],[class="wolfram-latex-copy-response"]
		formulaAdvise(wolframbg, wolframbdr)
	
	.numberedequation, .inlineformula
		responseAdvise(wolframbdr)
		


sideWidth = 160 px
sideBg = #F7F7F7
borderCL = #e3e3e3
headerHG = 60px
pd = 15px
sideTopMargin = headerHG + pd

.page_options
	
	font-family 'Open Sans', sans-serif
	
	margin 0
	padding 0
	background-color 
	
	*, *:before, *:after
		box-sizing border-box
	
	// single page fixed sidebar
	.container 
		position relative
		height 100%
		width 100%
		// padding 0 0 0 55px
		

		#sidebar
			position fixed
			top 0
			bottom 0
			left 0
			width sideWidth
			height 100%
			background-color sideBg
			border-right 1px solid borderCL
			color #909090
			
			ul
				
				position relative
				width sideWidth
				margin 0
				margin-top sideTopMargin
				padding 0
				list-style none
				
				li
					margin 0
					padding 0
					
					&:hover
						cursor pointer
						font-style underline
					
					div
						margin 0
						padding pd
						
			.sidebar-active
				color black
				font-weight bold
				border-left 7px solid #CCCCB4
				background-color white
				width calc( 100% + 5px )

			
		#loom
			
			margin-left sideWidth 
	
			#header, #content
				padding pd
		
			#header
				height headerHG
				font-size 20px
				color #717171
				
				div
					height 100%
					border-bottom 1px solid borderCL
					margin 0
									
			#content
				
				a
					color #929271
					
					&:active
						color #CCCCB4
					
				
				[id^="content_"]
					text-align justify
					display none
					max-width 700px
					
				.content-active
					display block
					

				#content_options
					form
						
						fieldset
							border 0
							margin 0 pd
							
							&.opt_monitor
								label
									margin pd
									input
										margin-right 5px
						
						label
							display block
							
						button
							margin-top pd
							
					.advise-ok
						padding floor(pd/2)
						background-color beige
						margin pd 0	


				#content_license, #content_disclaimer
					li,div
						margin-top pd
						
				#content_donate
					
					img
						margin pd
						max-width 127px

					table
						
						margin-top 7px

						td
							padding 11px
							font-size 15px
							

						td:first-child
							text-align right
							
					#donate-import
						font-size 17px
						padding 0 13px
						
					#donate-select
						position relative
						top -3px
						font-size 14px
						
					#donate-slider
						position relative
						top 3px
						

					.paypal
						
						font-size 1em!important
						
						width 159px
						height 29px
						color #2e3192
						text-decoration none
						display block
						text-align center
						position relative

						/* BACKGROUND GRADIENTS */
						background #FEE1A5
						background linear-gradient(top, #FFF, #FEE1A5 50%, #FFB829 51%,
							#FEE1A5 95%, #FEE1A5)
						background -webkit-gradient(linear, left top, left bottom,
								color-stop(0, #FFF), color-stop(.5, #FEE1A5), color-stop(.51, #FFB829),
								color-stop(.95, #FEE1A5), color-stop(.96, #FEE1A5), to(#FEE1A5))

						/* BORDER RADIUS */
						border-radius 18px

						border-bottom 1px solid #FFF
						border-top 1px solid #FFB829
						border-left 1px solid #FEE1A5
						border-right 1px solid #FEE1A5

						/* TEXT SHADOW */
						text-shadow 0px 1px 1px white

						/* BOX SHADOW */
						box-shadow 0 1px 3px #777
						font italic bold 18px/32px helvetica, arial
					

						/* WHILE HOVERED */
						&:hover
							
							background #FEE1A5
							background linear-gradient(top, #FFF, #FEE1A5 50%,
								#FFB829 51%, #FEE1A5 95%, #FEE1A5)
							background -webkit-gradient(linear, left top, left bottom,
								color-stop(0, #FFF), color-stop(.5, #FEE1A5), color-stop(.51, #FFB829),
								color-stop(.95, #FEE1A5), color-stop(.96, #FEE1A5), to(#FEE1A5))
							box-shadow 0 1px 2px black
													
						/* WHILE BEING CLICKED */
						&:active
							box-shadow 0 2px 6px black
							
										
					#donate-thanks
						li
							padding 7px
							color silver
							text-decoration line-through
							
							&.thanks
								color black
								font-size 1.2em
								text-decoration none
								// font-weight bold